*.h linguist-language=C
*.asm linguist-language=Assembly

# Makefile non-detectable
Makefile linguist-language=plaintext

# ADOC detectable
*.adoc linguist-vendored=false
*.adoc linguist-generated=false
*.adoc linguist-documentation=false

*.adoc linguist-detectable=true
README.adoc linguist-detectable=true
