*.h linguist-language=C

# Linguist overrides
Makefile linguist-detectable=false
Makefile linguist-vendredi=true

*.adoc linguist-vendored=false
*.adoc linguist-generated=false
*.adoc linguist-documentation=false
*.adoc linguist-detectable=true
README.md linguist-detectable=true
